/*  NORMALICE   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(180deg, #7A0000 0%, #980202 100%, #980202 100%);
    padding: 0px 10px 10px 10px;
    height: 100vh;
    width: 100vw;
}


/*  Grid    */

.Grid{
    display: grid;
    grid-template-areas: "HEADER HEADER HEADER"
                         "DIBUJO PALABRA PALABRA"
                         "INPUT INPUT INPUT";
    
    
}


/*  PUNTUACION  */

.Header {
    grid-area: HEADER;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 8vh;
}

.Header__Marcador{
    background: #E4E4E4;
    display: inline-block;
    box-sizing: content-box;
    padding: 0.5rem 4rem;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
}
.Header__Marcador__Puntos{
    display: inline-block;
}



/*  OUTPUT  */

.Output--Palabra{
    grid-area: PALABRA;
    height: calc(66.75vh - 1rem);
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*  Output AHORCADO */

.Output--Dibujo{
    grid-area: DIBUJO;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 38rem;
    height: calc(66.75vh - 1rem);
    background: #E4E4E4;
    margin: 1rem 1rem;
}



/*  Output Texto    */

.Output--Palabra__Texto{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}


/*  Output Palabra  */

.Output--Palabra__Texto__Palabra{
    display: flex;
    flex-direction: row;
    margin: 3rem 0rem;

}

.Output--Palabra__Texto__Palabra__Caracter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 3.5rem;

}

.Output--Palabra__Texto__Palabra__Caracter__Letra{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.796);
    width: 3.5rem;
    height: 3.5rem;
    font-size: 3em;
}

.Output--Palabra__Texto__Palabra__Caracter__Linea{
    display: inline-block;
    background-color: black;
    width: 2.5rem;
    height: 0.2rem;

}

.Output--Palabra__Texto__Avisos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E4E4E4;
    text-align: center;
    font-size: 1em;
    width: 100%;
    align-self: center;
    height: 100%;
    margin: 2rem;
    line-height: 3rem;

}




/*  Input   */

.Input{
    grid-area: INPUT;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    height: 22.25vh;
    max-width: 1490px;
}

.Input__Letras{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0rem 2rem;
    gap: 1rem;
    justify-content: center;
    width: 64rem;
}

.Input__Letras__Letra{
    display: flex;
    width: 4rem;
    height: 4rem;
    background-color: black;
    color: white;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.Input__Letras__Letra:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.80);
    cursor: pointer;
}




/*  EVENTOS */

.Disable{
    display: none;
}

.Mid-Disable{
    opacity: 50%;
}



/*  STICKMAN    */


#SVG-Stickman{
    height: 90%;
    width: 90%;
}

.Vida1{
    opacity: 100%;
}
.Vida2{
    opacity: 100%;
}

.Vida3{
    opacity: 100%;
}

.Vida4{
    opacity: 100%;
}
.Vida5{
    opacity: 100%;
}
.Vida6{
    opacity: 100%;
}
.Vida7{
    opacity: 100%;
}
.Vida8{
    opacity: 100%;
}






/*  Responsive  */

@media screen and (min-width: 1300px) {
    .Grid{
        justify-content:center;
        align-items: center;
        column-gap: 5rem;
    }
}

@media screen and (max-width: 1180px) {
    .Grid{
        grid-template-areas: "HEADER HEADER HEADER"
                             "DIBUJO DIBUJO DIBUJO"
                             "PALABRA PALABRA PALABRA"
                             "INPUT INPUT INPUT";
    }
    .Output--Palabra{
        height: 35vh;
    }
    .Output--Dibujo{
        height: calc(32vh - 2rem);
    }
    .Input{
        height: 25vh;

    }
    .Input__Letras{
        margin: 0rem;
        flex-wrap: wrap;
        width: auto;
    }

}

@media screen and (max-width: 735px) {
    .Header{
        height: 5vh;
    }
    #SVG-Stickman{
        width: auto;
        height: 230px;
    }
    .Output--Dibujo{
        width: auto;
        height: calc(25vh - 2rem);
    }
    .Output--Palabra{
        height: 23vh;
    }
    .Input{
        height: 37vh;
    }

    .Output--Palabra__Texto__Avisos{
        margin: 0.1rem;
    }
    .Output--Palabra__Texto__Palabra{
        margin: 2rem;
    }

    .Input__Letras__Letra{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2.5rem;
    }
}