/*  NORMALICE   */
::-webkit-scrollbar {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #7A0000;
  padding: 0px 10px 10px 10px;
  width: 100%; }

header {
  display: inline-block;
  position: fixed; }

/*  Grid    */
.Contenedor {
  width: 100%;
  display: flex;
  flex-direction: column; }

.ContenedorOutput {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center; }

/*  EFECTO PerderVida  */
@keyframes sacudir {
  25% {
    transform: rotate(0.7deg); }
  0% {
    transform: scale(1.03); }
  50% {
    transform: rotate(-1.4deg); }
  75% {
    transform: rotate(1.4deg); }
  100% {
    transform: scale(1);
    transform: rotate(0.7deg); } }

@keyframes expandir {
  0% {
    height: 0px; }
  100% {
    height: auto; } }

.perderVida {
  overflow: hidden;
  animation-name: sacudir;
  animation-duration: 0.3s; }

/*  PUNTUACION  */
.Header {
  grid-area: HEADER;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 6rem;
  z-index: 1; }
  .Header__Reset {
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #4f4f4f;
    width: 14rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    z-index: 0;
    border-radius: 0rem 0rem 0rem 1.5rem;
    border-color: black;
    align-items: center;
    justify-content: center;
    height: 3rem; }
    .Header__Reset:hover {
      transition: 0.3s;
      transform: scale(1.1); }
  .Header__Marcador {
    border: #4f4f4f solid 0.5px;
    background: #E4E4E4;
    display: inline-block;
    box-sizing: content-box;
    padding: 0.5rem 4rem;
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    z-index: 1; }
    .Header__Marcador__Puntos {
      display: inline-block; }
  .Header__Dificultad {
    transition: all 0.5s;
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
    background-color: #4f4f4f;
    width: 14rem;
    border-radius: 0rem 0rem 1.5rem 0rem;
    height: 3rem; }
    .Header__Dificultad__Seleccionado {
      font-size: 1.5em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: auto 0px;
      height: 3rem; }
    .Header__Dificultad:hover {
      height: 10.5rem;
      border-radius: 0rem 0rem 1.5rem 1.5rem; }
    .Header__Dificultad__Seleccion {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0; }
      .Header__Dificultad__Seleccion li {
        font-size: 1.2rem;
        border-top: 0.5px solid black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
        .Header__Dificultad__Seleccion li:hover {
          transition: 0.3s;
          transform: scale(1.1); }

/*  OUTPUT  */
.Output--Palabra {
  height: calc(66.75vh - 1rem);
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

/*  Output AHORCADO */
.Output--Dibujo-articleImg img {
  width: 300px;
  height: 300px; }

.Output--Dibujo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32rem;
  max-height: 45rem;
  max-width: 50rem;
  width: 50%;
  height: calc(66.75vh - 1rem);
  background: #E4E4E4;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

/*  Output Texto    */
.Output--Palabra__Texto {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

/*  Output Palabra  */
.Output--Palabra {
  min-height: 32rem;
  max-height: 45rem;
  width: 50%; }
  .Output--Palabra__Texto {
    margin: 1rem 0rem; }
    .Output--Palabra__Texto__Avisos {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #E4E4E4;
      text-align: center;
      font-size: 1em;
      width: 100%;
      align-self: center;
      height: 100%;
      margin: 2rem 0rem;
      line-height: 3rem; }
    .Output--Palabra__Texto__Palabra {
      display: flex;
      flex-direction: row;
      margin: 3rem 0rem;
      height: 5rem; }
      .Output--Palabra__Texto__Palabra__Caracter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 3.5rem; }
        .Output--Palabra__Texto__Palabra__Caracter__Letra {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgba(0, 0, 0, 0.796);
          width: 3.5rem;
          height: 3.5rem;
          font-size: 3em; }
        .Output--Palabra__Texto__Palabra__Caracter__Linea {
          display: inline-block;
          background-color: black;
          width: 2.5rem;
          height: 0.2rem; }

.Input {
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  width: 100%; }
  .Input__Letras {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0rem 2rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 64rem;
    min-height: 12.5rem;
    height: 12.5rem; }
    .Input__Letras__Letra {
      display: flex;
      width: 4rem;
      height: 4rem;
      background-color: black;
      color: white;
      font-size: 3rem;
      justify-content: center;
      align-items: center; }
      .Input__Letras__Letra:hover {
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer; }

/*  EVENTOS */
.Disable {
  display: none; }

.Mid-Disable {
  opacity: 50%; }
  .Mid-Disable:hover {
    transform: scale(1);
    background-color: black;
    cursor: pointer; }

@media screen and (max-width: 1160px) {
  body {
    height: 100%; }
  .Contenedor {
    height: auto; }
  .ContenedorOutput {
    flex-direction: column; }
  .Output--Palabra {
    width: 80%;
    height: 27.5rem; }
    .Output--Palabra__Texto {
      width: 80%; }
      .Output--Palabra__Texto__Avisos {
        max-height: 12.5rem;
        min-width: 25rem; }
  .Output--Dibujo {
    height: 45rem;
    width: 80%;
    min-width: 25.6rem; } }

@media screen and (max-width: 920px) {
  .Output--Palabra {
    min-height: 13.125rem;
    height: 13.125rem;
    width: 100%; }
    .Output--Palabra__Texto {
      width: 100%; }
      .Output--Palabra__Texto__Avisos {
        display: none; }
      .Output--Palabra__Texto__Palabra__Caracter {
        width: 3rem; } }
