/*  NORMALICE   */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(180deg, #7A0000 0%, #980202 100%, #980202 100%);
    padding: 0px 10px 10px 10px;
    height: 100vh;
    width: 100vw;
}

/*  Grid    */

.Grid{
    display: grid;
    grid-template-areas: "HEADER HEADER HEADER"
                         "DIBUJO PALABRA PALABRA"
                         "INPUT INPUT INPUT";
    
    
}
