@media screen and (max-width: 1160px){
    body{
        height: 100%;
    }
    .Contenedor{
        height: auto;
    }
    .ContenedorOutput{
        flex-direction: column;
    }
    .Output--Palabra{
        width: 80%;
        height: 27.5rem;
        &__Texto{
            width: 80%;
            &__Avisos{
                max-height: 12.5rem;
                min-width: 25rem;
            }
        }
    }
    .Output--Dibujo{
        height: 45rem;
        width: 80%;
        min-width: 25.6rem;
    }
}

@media screen and(max-width: 920px) {
    .Output--Palabra{
        min-height:13.125rem;
        height: 13.125rem;
        width: 100%;

        &__Texto{
            &__Avisos{
                display: none;
            }
            width: 100%;
            &__Palabra{
                &__Caracter{
                    width: 3rem;
                }
            }
        }
    }
}