//Quiebre en 1360 width
//Min-heigth: 800

@media screen and(max-width: 1360px) {
    .Grid{
        grid-template-areas: 
        "HEADER HEADER HEADER"
        "DIBUJO DIBUJO DIBUJO"
        "PALABRA PALABRA PALABRA"
        "INPUT INPUT INPUT";
        grid-template-rows: 82px 420px 400px 225px;
        height: auto;
    }
    .Output{
        &--Dibujo{
            width: 100%;
            height: 400px;
            background: none;
            &-articleImg{
                img{
                    width: 400px;
                    height: 400px;
                }
            }
        }
        &--Palabra{
            height: 400px;
            width:100%;
            &__Texto{
                margin-top: 0px;
                &__Avisos{
                    height: 175px;
                    width: 800px;
                    margin-top: 0px;
                }
            }
        }
    }
      
    .Input{
        &__Letras{
            height: auto;
            width: auto;
        }
    }
    
}

@media screen and(max-width:920px){
    .Output{
        &--Palabra{
            &__Texto{
                &__Avisos{
                    width: 100%;
                }
            }
        }
    }
    .Grid{
        grid-template-rows: 82px 420px 400px 400px;
    }
    
}