
/*  OUTPUT  */
.Output--Palabra{
    height: calc(66.75vh - 1rem);
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}